<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deskaidfixed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeskAidFixed">
        <activity
            android:name=".Ticket"
            android:exported="false" />
        <activity
            android:name=".tickets2"
            android:exported="false" />
        <activity
            android:name=".EmailConfirmation"
            android:exported="false" />
        <activity
            android:name=".user_interface"
            android:exported="false" />
        <activity
            android:name=".Registo"
            android:exported="false"
            android:theme="@style/Theme.DeskAidFixed.NoActionBar"/>
        <activity
            android:name=".AdminView"
            android:exported="false"
            android:label="@string/title_activity_admin_view"
            android:theme="@style/Theme.DeskAidFixed.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:label="@string/title_activity_dashboard_view"
            android:theme="@style/Theme.DeskAidFixed.NoActionBar" />
        <activity
            android:name=".Ticket_form"
            android:exported="false"
            android:label="@string/title_activity_ticket_form_view"
            android:theme="@style/Theme.DeskAidFixed.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Email"
            android:exported="false"
            android:label="@string/activity_email"
            android:theme="@style/Theme.DeskAidFixed.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>